<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Full Name</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of contactService.contact">
          <td>{{c.id}}</td>
          <td>{{c.firstName}} {{c.lastName}}</td>
          <td>{{c.contactNumber}}</td>
          <td>{{c.address}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
